title = "Movie Single"
url = "/movies/movie/:slug"
layout = "default"
is_hidden = 0



[siteSearchInclude]
==

<?

use Rasul\Movies\Models\Movie;

    function onStart(){
      $this['movie'] = Movie::where('slug', '=', $this->param('slug'))->first();
}

?>

==

{% if movie %}
    <h2>{{ movie.name }}</h2>

    <a href="{{ movie.poster.path }}">
    <img src="{{movie.poster.thumb(200,auto)}}" alt="">
    </a>

    <h4>{{ movie.year }}</h4>


    <h3>Description</h3>
    {{ movie.description|raw }}


    <h3>Actors</h3>

    {% for actor in movie.actors %}<br>

        {{actor.name}}
        {{actor.lastname}}

    {% endfor %}

    <h3>Gallery</h3>

    <ul class="clearfix" style="list-style: none">
        {% for image in movie.movie_gallery %}
            <li style="display: inline">
                <a href="{{ image.path }}" class="">
                <img src="{{ image.thumb(80,80, {'mode':'crop'}) }}" alt="">
                </a>
            </li>
        {% endfor %}
    </ul>

    <h3>Genres</h3>

    {% for genre in movie.genre %}

        <a href="../../genres/{{ genre.slug }}">{{genre.genre_title}}</a><br>

    {% endfor %}



{% else %}
    {{ notFoundMessage }}
{% endif %}
